[Unit]
Description=jarvishome.in
After=network.target

[Service]
WorkingDirectory=/home/devasheesh/jarvishome.in/
ExecStart=/home/devasheesh/jarvishome.in/deploy.sh
Restart=always
User=devasheesh
Group=devasheesh
Environment="NODE_ENV=production"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
