.features_section {
  height: 100vh;
  width: 100%;
  padding: 4vw;
  text-align: center;
}

.features_section h1 {
  font-size: 4.5vw;
  margin-bottom: 2.5vw;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle at 5%, #c9c23d, #e6ac26 29%, #f36d0e 71%, #95230f);
  -webkit-background-clip: text;
  background-clip: text;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.card {
  width: 45vw;
  padding: 2vw;
  border-radius: 1rem;
  background-color: #1a1a1a;
  box-shadow: 0 0.2vw 1vw rgba(255, 255, 255, 0.1);
  border: 0.05vw solid transparent;
  user-select: none;
}

.card {
  transition: transform 0.3s ease; /* Adjust duration and easing as needed */
}

.card:hover {
  transform: scale(1.04); /* Use 'transform' instead of 'scale' */
}

.card h2 {
  color: #fff;
  font-size: 2vw;
  margin-bottom: 1vw;
  text-align: left;
}

.card_content {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.card_content img {
  max-width: 10vw;
  height: auto;
}

.card_content p {
  color: #ccc;
  line-height: 1.5;
  font-size: 1.2vw;
  text-align: left;
}
.small_image {
  width: 50vw;
  margin: 40px;
}

@media (max-width: 768px) {
  .features_section h1 {
    font-size: 2rem;
  }

  .card {
    width: 100%;
    max-width: 80vw;
  }
  .card h2 {
    color: #fff;
    font-size: 5vw;
    padding-top: 10px;
    margin-bottom: 1vw;
    text-align: center;
  }
  .card_content {
    flex-direction: column;
    align-items: flex-start;
  }

  .card_content img {
    max-width: 100%;
  }

  .card_content p {
    font-size: 1rem;
    padding: 10px;
  }
}
