.page2 {
  height: 100vh;
  background: linear-gradient(to bottom right, #b6c20f, #d6c910, black, black, #28313b, black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page2 img {
  height: 80vh;
  width: 40%;
  padding: 2rem;
  object-fit: contain;
}

.page2_content {
  height: 80vh;
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column; /* Arrange words in a column */
  justify-content: center; /* Center vertically */
  align-items: flex-start; /* Align text to the left */
  position: relative;
  left: -5%;
}

.the,
.future,
.is_here {
  font-size: 13vw; /* Adjust font size for better responsiveness */
  line-height: 8.7vw;
}

.the {
  color: yellow;
}

.future {
  color: rgb(145, 145, 145);
  position: relative;
  left: 12%;
}

.is_here {
  color: white;
  position: relative;
  left: 24%;
}

/* @media (max-width: 768px) {
  .page1 img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 12rem;
  }

  .the,
  .future,
  .is_here {
    font-size: 6rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
@media (max-width: 768px) {
  .page2 img {
    width: 80%;
    margin: 2rem auto;
    display: block;
  }
} */
