.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  user-select: none;
}

.navbar_content {
  background-color: transparent;
  height: 5vmax;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}



.nav_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

.nav_part h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  font-style: normal;
  transition: color 0.1s ease;
}

.navbar_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.8vw;
}

.navbar_logo h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.9vmax;
}

.navbar_logo img {
  height: 6vw;
  width: 6vw;
}

@keyframes colorChange {
  from {
    color: #fff;
  }
  to {
    color: #fbda4b;
  }
}

.navbar_signin_button {
  display: inline-block;
  padding: 0.5vw 1vw;
  font-size: 1.3vw;
  font-weight: bold;
  border: 2px solid #e4c200;
  color: #e2c000;
  background-color: transparent;
  border-radius: 1vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.navbar_signin_button:hover {
  background-color: #ffe23e;
  color: #333;
  transform: translateY(-2px);
}

.navbar_signin_button:focus {
  outline: none;
}

.navbar_signin_button:active {
  transform: translateY(1px);
}

.page4 {
  height: 100vh;
  width: 100%;
  padding: 4vw;
  text-align: center;
}

.page4 h1 {
  font-size: 4.5vw;
  margin-bottom: 2.5vw;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle at 5%,
    #c9c23d,
    #e6ac26 29%,
    #f36d0e 71%,
    #95230f
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.nav_link {
  text-decoration: none;
  color: white; /* Text color */
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  font-style: normal;
  transition: color 0.1s ease;
}

.nav_link:hover {
  color: #d70000; /* Hover color */
}


.hamburger {
  display: none;
  cursor: pointer;
}



@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-left: auto;
    padding: 0.5rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.8vh) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.8vh) rotate(-45deg);
  }
}