@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1000;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.spotlight_section {
  height: calc(100vh - 5vmax);
  width: 100vw;
}

.no-scroll {
  overflow: hidden;
}
