* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.normal {
  font-size: 15rem;
  width: 160%;
  position: absolute;
  left: 175vw;
  top: 80vh;
  transform: rotate(18deg);
}

@media (max-width: 768px) {
  .normal {
    position: static;
    transform: none;
    font-size: 1.5rem;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
}
